# ignore this file
logs/
models/
artifacts/data_ingestion/*
artifacts/data_transformation/*
artifacts/model_trainer/saved-search-model/*
artifacts/model_trainer/cls_models/classifier/sbert/*

*.egg-info*
__pycache__/*
__pycache__/
